include includes/head
body
	include includes/nav
	br
	section
		.container
			.columns
				.column.is-half.is-offset-one-quarter.has-text-centered
					form(action='/search' method='post')
						label.label.has-text-centered Search your local bars!
						p.control
							input(id='search-box' class='input has-text-centered' type='text' placeholder='My City' name='location')
						p.control
							input(id='search-button' class='input has-text-centered' type='submit' value='Search')
	if bars
		section.container
			.columns
				.column.is-10.is-offset-1
					each bar in bars
						-var link = '/rsvp/' + bar.id
						.box
							article.media
								.media-left
									figure.image.is-64x64
										img(src=bar.image_url '' alt=bar.id)
								.media-content
									.content
										p
											strong= bar.name
											br
											= bar.snippet_text
									.level.is-mobile
										.level-left
											a(class='level-item' title='RSVP' href=link)
												span.icon.is-small
													i.fa.fa-book
												p
													small= bar.rsvp + ' Going'


	if error
		br
		p.has-text-centered= error
				

